@{
    ViewData["Title"] = "Liên Hệ";
    Layout = "_Layout";
}
<link href="~/css/style.css" rel="stylesheet" />
<body>
    <section class="banner-lh">
        <video autoplay muted loop playsinline class="bg-video-lh">
            <source src="~/css/videos/banner_lh.mp4" type="video/mp4">
            Trình duyệt của bạn không hỗ trợ video nền.
        </video>
        <div class="overlay-lh">
            <h1>LIÊN HỆ</h1>
        </div>
    </section>
    <section class="contact-section">
        <div class="contact-item-lh">
            <img src="~/css/img/icon_phone_lh.png" alt="Phone Icon" class="icon-lh" />
            <h4>ĐIỆN THOẠI</h4>
            <p>+84 795 665 468</p>
        </div>

        <div class="divider-lh"></div>

        <div class="contact-item-lh">
            <img src="~/css/img/icon_mail_lh.png" alt="Email Icon" class="icon-lh" />
            <h4>EMAIL</h4>
            <p>CelesRestaurant@gmail.com</p>
        </div>

        <div class="divider-lh"></div>

        <div class="contact-item-lh">
            <img src="~/css/img/icon_open_lh.png" alt="Open Icon" class="icon-lh" />
            <h4>GIỜ HOẠT ĐỘNG</h4>
            <p>Thứ 2 - CN | 9h00 - 22h00</p>
        </div>
    </section>
    <section class="ribbon-container ribbon-white">
        <div class="ribbon-track scroll-left" id="celesteTrack">
            <div class="ribbon-content" id="celesteContent">
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
                <div class="ribbon-item">
                    <img src="~/css/img/logo_run.png" alt="Logo" />
                    <span>CÉLESTE ÉLYSÉE</span>
                </div>
            </div>
        </div>
    </section>
    <section class="ribbon-container ribbon-beige">
        <div class="ribbon-track scroll-right" id="bonTrack">
            <div class="ribbon-content" id="bonContent">
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
                <div class="ribbon-item-1">
                    <img src="~/css/img/icon_dish.png" alt="Icon" />
                    <span>BON APPÉTIT</span>
                </div>
            </div>
        </div>
    </section>
    

    <script>
        const celesteTrack = document.getElementById("celesteTrack");
        const celesteContent = document.getElementById("celesteContent");
        for (let i = 0; i < 2; i++) {
            celesteTrack.appendChild(celesteContent.cloneNode(true));
        }

        const bonTrack = document.getElementById("bonTrack");
        const bonContent = document.getElementById("bonContent");
        for (let i = 0; i < 2; i++) {
            bonTrack.appendChild(bonContent.cloneNode(true));
        }
    </script>
</body>