@{
    ViewData["Title"] = "Thực đơn Online";
    Layout = "_Layout";
}
<link href="~/css/style.css" rel="stylesheet" />
<body>
    <section class="menu-section-online">
        <div class="menu-container-online">
            <!-- Khai vị -->
            <div class="menu-item-online menu-click-target">
                <div class="arch-wrapper-online">
                    <div class="frame-online">
                        <div class="img-container-online">
                            <img src="~/css/img/thucdononline1.jpg" alt="Khai vị" />
                        </div>
                    </div>
                    <div class="menu-caption-online">
                        <p>KHAI VỊ</p>
                    </div>
                </div>
            </div>

            <!-- Món chính -->
            <div class="menu-item-center-online menu-click-target">
                <div class="arch-wrapper-center-online">
                    <div class="frame-online">
                        <div class="img-container-online">
                            <img src="~/css/img/thucdononline2.jpg" alt="Món chính" />
                        </div>
                    </div>
                    <div class="menu-caption-online">
                        <p>MÓN CHÍNH</p>
                    </div>
                </div>
            </div>

            <!-- Tráng miệng -->
            <div class="menu-item-online menu-click-target">
                <div class="arch-wrapper-online">
                    <div class="frame-online">
                        <div class="img-container-online">
                            <img src="~/css/img/thucdononline3.jpg" alt="Tráng miệng" />
                        </div>
                    </div>
                    <div class="menu-caption-online">
                        <p>THỨC UỐNG<br>TRÁNG MIỆNG</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <script>
        document.querySelectorAll('.menu-click-target').forEach(function (div) {
            div.style.cursor = 'pointer';
            div.addEventListener('click', function () {
                window.location.href = '/Products/';
            });
        });
    </script> *@

    <script>
        document.querySelectorAll('.menu-click-target').forEach(function (div) {
            div.style.cursor = 'pointer';
            div.addEventListener('click', function () {
                const caption = div.querySelector('.menu-caption-online p').innerText.trim().toUpperCase();

                if (caption.includes('KHAI VỊ')) {
                    window.location.href = '/Products?categoryIds=LMA03,LMA05&groupName=' + encodeURIComponent('Khai vị');
                } else if (caption.includes('MÓN CHÍNH')) {
                    window.location.href = '/Products?categoryIds=LMA01,LMA02,LMA04&groupName=' + encodeURIComponent('Món chính');
                } else if (caption.includes('THỨC UỐNG') || caption.includes('TRÁNG MIỆNG')) {
                    // Lấy LMA06 (tráng miệng) + LMA07 (nước + mục con)
                    window.location.href = '/Products?categoryIds=LMA06,LMA07&groupName=' + encodeURIComponent('Thức uống & Tráng miệng');
                } else {
                    window.location.href = '/Products';
                }
            });
        });
    </script>
</body>